body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;

}

.page {
  width: 1000px;
  margin: 0px auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 55px;
}

ul li a {
  text-decoration: none;
  color: #1f1534
}


ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

ul li a:hover {
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 102px;
}


h1 {
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #000;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

 section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
  margin: 40px 0;
  
}

button {
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  background: #69b99d;
  border: 0;
  padding: 14px 32px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-style: 4px;
  cursor: pointer;
}

button:hover {
  background: #226d53;
  
}


footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 82px;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

#ball {
  position: fixed;
  bottom: 0;
  right: 0;
}